<%= stylesheet_link_tag 'chart1.css' %>
<%#= javascript_include_tag 'doughnutChart.js' %>
<div class="col-lg-12 mx-auto">
    <%#= render 'pagecontent' %>
    <div class="row">
        <%= render 'barchart' %>
        <%= render 'view'%>
    </div>
    <div class="row">
        <%= render 'piechart' %>
        <%= render 'halfDoughnut' %>
    </div>
    <div class="row">
        <%= render 'doughnutChart'%>
        <%= render 'doughnutChart' %>
        <%= render 'doughnutChart' %>
    </div>

</div>


